@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;700&display=swap');
:root{
    --AlmostWhite: hsl(0, 0%, 98%);
    --MediumGray: hsl(0, 0%, 41%);
    --AlmostBlack: hsl(0, 0%, 8%);
    --fontsize: 18px;
    --fontfamily: 'Epilogue', sans-serif;
}

html {
    body {
        font-family: var(--fontfamily);
        background-color: var(--AlmostWhite);
        header {
            #topmenu {
                padding: 20px 30px;
                .collapse:not(.open) {
                    .dropdown-menu {
                        display: none;
                    }
                }
                .dropdown-toggle {
                    &::after {
                        content: url(/assets/img/icon-arrow-down.svg);
                        vertical-align: inherit;
                        border: 0;
                    }
                }
                #navbarSupportedContent {
                    ul {
                        gap:30px;
                        .nav-link {
                            font-size:13px;
                            color: var(--AlmostBlack);
                            font-weight: 500;
                            text-shadow: -.25px -.25px 0 transparent, 
                            .25px .25px transparent;
                            &:hover {
                                text-shadow: -.25px -.25px 0 var(--AlmostBlack), 
                                .25px .25px var(--AlmostBlack);
                            }
                        }
                    }
                    .dropdown-menu {
                        border: 0;
                        border-radius: 13px;
                        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                        padding-top: 20px;
                        padding-bottom: 20px;
                        font-size: 13px;
                        color: var(--AlmostBlack);
                        li {
                            a {
                                display: flex;
                                align-items: center;
                                gap: 15px;
                                line-height: normal;
                                padding-top: 5px;
                                padding-bottom: 5px;
                                min-height: 29px;
                            }
                            .todo {
                                &:before {
                                    content: url(/assets/img/icon-todo.svg);
                                    min-width: 20px;
                                    text-align: center;
                                }
                            }
                            .calendar {
                                &:before {
                                    content: url(/assets/img/icon-calendar.svg);
                                    min-width: 20px;
                                    text-align: center;
                                }
                            }
                            .reminders {
                                &:before {
                                    content: url(/assets/img/icon-reminders.svg);
                                    min-width: 20px;
                                    text-align: center;
                                }
                            }
                            .planning {
                                &:before {
                                    content: url(/assets/img/icon-planning.svg);
                                    min-width: 20px;
                                    text-align: center;
                                }
                            }
                        }
                    }
                    .loginarea {
                        display: flex;
                        align-items: center;
                        gap: 50px;
                        .login {
                            font-size: 13px;
                            text-decoration: none;
                            color: var(--AlmostBlack);
                            font-weight: 500;
                        }
                        .register {
                            border-radius: 10px;
                            font-size: 13px;
                            font-weight: 500;
                            padding-right: 20px;
                            padding-left: 20px;
                        }
                    }
                }
                .navbar-brand {
                    margin-right: 60px;
                }
            }
        }
        #content {
            #mainarea {
                display: flex;
                align-items: flex-end;
                margin-top:100px;
                margin-bottom: 100px;
                .leftarea {
                    padding-right: 80px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    gap: 75px;
                    .textarea {
                        .title {
                            text-align: start;
                            font-size: 80px;
                            font-weight: bold;
                            line-height: 1;
                            margin-bottom: 40px;
                            color: var(--AlmostBlack);
                        }
                        .text {
                            text-align: start;
                            margin-bottom: 40px;
                            color: var(--MediumGray);
                        }
                        .btnarea {
                            text-align: start;
                            .learnmore {
                                font-weight: 500;
                                border-radius: 10px;
                                padding: 10px 25px;
                                font-size: var(--fontsize);
                                &:hover {
                                    background-color: var(--AlmostWhite);
                                    color: var(--AlmostBlack);
                                }
                            }
                        }
                    }
                    .imgarea {
                        div {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                        }
                    }
                }
                .rightarea {
                    .imgarea {
                        img {
                            max-width: 100%;
                            object-fit: cover;
                            height: 410px;
                        }
                    }
                }
            }
        }
        p {
            font-size: var(--fontsize);
        }
    }
}

@media screen and (max-width: 734px) {

}