@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;700&display=swap");
:root {
  --AlmostWhite: hsl(0, 0%, 98%);
  --MediumGray: hsl(0, 0%, 41%);
  --AlmostBlack: hsl(0, 0%, 8%);
  --fontsize: 18px;
  --fontfamily: "Epilogue", sans-serif;
}

html body {
  font-family: var(--fontfamily);
  background-color: var(--AlmostWhite);
}
html body header #topmenu {
  padding: 20px 30px;
}
html body header #topmenu .collapse:not(.open) .dropdown-menu {
  display: none;
}
html body header #topmenu .dropdown-toggle::after {
  content: url(/assets/img/icon-arrow-down.svg);
  vertical-align: inherit;
  border: 0;
}
html body header #topmenu #navbarSupportedContent ul {
  gap: 30px;
}
html body header #topmenu #navbarSupportedContent ul .nav-link {
  font-size: 13px;
  color: var(--AlmostBlack);
  font-weight: 500;
  text-shadow: -0.25px -0.25px 0 transparent, 0.25px 0.25px transparent;
}
html body header #topmenu #navbarSupportedContent ul .nav-link:hover {
  text-shadow: -0.25px -0.25px 0 var(--AlmostBlack), 0.25px 0.25px var(--AlmostBlack);
}
html body header #topmenu #navbarSupportedContent .dropdown-menu {
  border: 0;
  border-radius: 13px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 13px;
  color: var(--AlmostBlack);
}
html body header #topmenu #navbarSupportedContent .dropdown-menu li a {
  display: flex;
  align-items: center;
  gap: 15px;
  line-height: normal;
  padding-top: 5px;
  padding-bottom: 5px;
  min-height: 29px;
}
html body header #topmenu #navbarSupportedContent .dropdown-menu li .todo:before {
  content: url(/assets/img/icon-todo.svg);
  min-width: 20px;
  text-align: center;
}
html body header #topmenu #navbarSupportedContent .dropdown-menu li .calendar:before {
  content: url(/assets/img/icon-calendar.svg);
  min-width: 20px;
  text-align: center;
}
html body header #topmenu #navbarSupportedContent .dropdown-menu li .reminders:before {
  content: url(/assets/img/icon-reminders.svg);
  min-width: 20px;
  text-align: center;
}
html body header #topmenu #navbarSupportedContent .dropdown-menu li .planning:before {
  content: url(/assets/img/icon-planning.svg);
  min-width: 20px;
  text-align: center;
}
html body header #topmenu #navbarSupportedContent .loginarea {
  display: flex;
  align-items: center;
  gap: 50px;
}
html body header #topmenu #navbarSupportedContent .loginarea .login {
  font-size: 13px;
  text-decoration: none;
  color: var(--AlmostBlack);
  font-weight: 500;
}
html body header #topmenu #navbarSupportedContent .loginarea .register {
  border-radius: 10px;
  font-size: 13px;
  font-weight: 500;
  padding-right: 20px;
  padding-left: 20px;
}
html body header #topmenu .navbar-brand {
  margin-right: 60px;
}
html body #content #mainarea {
  display: flex;
  align-items: flex-end;
  margin-top: 100px;
  margin-bottom: 100px;
}
html body #content #mainarea .leftarea {
  padding-right: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 75px;
}
html body #content #mainarea .leftarea .textarea .title {
  text-align: start;
  font-size: 80px;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 40px;
  color: var(--AlmostBlack);
}
html body #content #mainarea .leftarea .textarea .text {
  text-align: start;
  margin-bottom: 40px;
  color: var(--MediumGray);
}
html body #content #mainarea .leftarea .textarea .btnarea {
  text-align: start;
}
html body #content #mainarea .leftarea .textarea .btnarea .learnmore {
  font-weight: 500;
  border-radius: 10px;
  padding: 10px 25px;
  font-size: var(--fontsize);
}
html body #content #mainarea .leftarea .textarea .btnarea .learnmore:hover {
  background-color: var(--AlmostWhite);
  color: var(--AlmostBlack);
}
html body #content #mainarea .leftarea .imgarea div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
html body #content #mainarea .rightarea .imgarea img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 410px;
}
html body p {
  font-size: var(--fontsize);
}/*# sourceMappingURL=style.css.map */